<!-- CTA -->
<section class="py-8 py-md-11 bg-dark">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">

            <!-- Badge -->
            <span class="badge rounded-pill bg-gray-700-soft mb-4">
            <span class="h6 fw-bold text-uppercase">Get started</span>
            </span>


            <!-- Button -->
            <a href="#" target="_blank" class="btn btn-success lift">
            Signup <i class="fe fe-arrow-right"></i>
            </a>

        </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>